@page {
  size: A4;
  margin: 11mm 15mm 17mm 15mm;
}

table {
  width: 100%;
}

td, th {
  padding: 5px;
}

.separator {
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 25px 0;
}

.btn-action {
  color: #fff;
  background: #ff5a5f;
  border: 2px solid #ff5a5f;
}

.btn-secondary {
  color: #4cae4c;
  background: transparent;
  border: 2px solid #4cae4c;
}

.btn-unimportant {
  color: #aaa;
  background: transparent;
  border: 2px solid #aaa;
}

.btn-outline-primary {
  color: #ff5a5f;
  background: transparent;
  border: 2px solid #ff5a5f;
}

.btn-link {
  color: #4cae4c;
}