table { page-break-inside: auto }
tr    { page-break-inside: avoid; page-break-after: auto; }
thead { display: table-header-group }
tfoot { display: table-footer-group }

.print {
  margin: 0 10px;

  table {
    td:last-child {
      text-align: right;
    }
    
    th:last-child {
      text-align: right;
    }
  }

  &-heading {
    border-bottom: 1px solid #333;
  }

  &-cancel {
    margin: 10px 0 10px 0;
  }

  &-section {
    border-top: 1px solid #ccc;
  }

  &-sub-section {
    border-bottom: none;
  }

  &-sub-section-sum {
    background: #efefef;
  }

  &-sub-section-discount {
    background: #efefef;
    
    &-value {
      border-bottom: 1px solid #333;
    }
  }
  
  &-position {
    border-bottom: 1px solid #efefef;
  }

  &-summary {
    width: 70%;
    margin: 50px auto;

  }

  &-netto-sum {
    border-top: 1px solid #333;
  }

  &-sum {
    border-top: 1px solid #333;
    border-bottom: 3px solid #333;
  }

  &-payinfo {
    border-bottom: 1px solid #efefef;
  }

  &-payment {
    margin-top: 30px;
  }

  @media print {
    margin: 0;
    padding-bottom: 20mm;

    &-positions {
      margin-top: 10mm;
    }

    &-headline {
      display: none;
    }

    &-pageNumber::after { 
    }

    td:last-child, th:last-child {
      white-space: nowrap;
    }

    &-introduction {
      margin-top: 15mm;
    }

    &-cancel {
      display: none;
    }

    &-summary {
      margin: 20mm auto;
      page-break-inside: avoid;
    }

    &-sub-section-sum {
      background: none;
    }

    &-sub-section-discount {
      background: none;
    }

    &-content {
      margin-top: 20mm;
    }

    &-position {
      page-break-inside: avoid;
    }

    &-payment {
      page-break-inside: avoid;
    }
  }
}