.section {
  position: relative;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(234, 234, 234, 0.5);
    text-align: center;
  }
}